<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</head>
<body>
<header>
    <div class="container">
        <h1>My Recipes!</h1>
    </div>
</header>
<div class="container">
    <!-- main content goes here -->
    <div class="panel-heading">
        <h5 class="panel-title">Recipe List</h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <td>ID</td>
                    <td>Description</td>
                    <td>View</td>
                </tr>
                </thead>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}">123</td>
                    <td th:text="${recipe.description}"></td>
                    <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <!-- -->
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.1/popper.js}"></script>
</body>
</html>